.contact-container {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  .connect-container {
    width: 25%;
  }
  .social-links {
    list-style-type: none;
    // width: fit-content;
    // display: flex;
    justify-content: space-between;
    li {
      display: flex;
      align-items: center;
      max-width: fit-content;
      margin-bottom: 15px;
      &:hover {
        cursor: pointer;
      }
      .icon {
        margin-right: 10px;
      }
      h3 {
        display: inline-block;
        margin: auto 0;
      }
      margin-right: 10px;
    }
  }
  .socials {
    margin-bottom: 25px;
  }
  .contact-form {
    width: 70%;
    h3 {
      margin-bottom: 20px;
    }
    form {
      position: relative;
      .form-error {
        top: -25px;
      }
      label {
        display: block;
        margin-top: 30px;
        margin-bottom: 5px;
      }
      input {
        width: 300px;
        height: 40px;
        background-color: transparent;
        border: 0;
        border-bottom: 3px solid;
      }
      input.success,
      textarea.success {
        border-color: #00b900;
        // box-shadow: 0px 0px 3px #04d804;
      }
      input.error,
      textarea.error {
        border-color: #ff1a1a;
        // box-shadow: 0px 0px 5px #ff1a1a;
      }
      textarea {
        height: 200px;
        width: 100%;
        display: block;
        border: 0;
        border-bottom: 3px solid;
      }
      .recaptcha {
        margin-top: 30px;
      }
      button {
        margin-top: 30px;
        padding: 15px 50px;
      }
      p {
        margin: 0;
        padding: 0;
        line-height: 20px;
        font-size: 16px;
        color: #ff1a1a;
        position: absolute;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .contact-container {
    flex-flow: column;
    .social-links {
      li {
        margin: 0;
        margin-bottom: 10px;
      }
      margin-bottom: 50px;
    }
    .connect-container,
    .contact-form {
      width: 100%;
    }
  }
}
