.single-experiment {
  .media-wrapper {
    .image {
      margin: 0 auto;
      display: block;
    }
  }
  .link-wrapper {
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    h3 {
      display: inline-block;
    }
  }
}
