.lower-content {
  .item-container {
    max-width: 1000px;
    margin: 0 auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    div {
      width: 300px;
      height: 300px;
      position: relative;
    }
    img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .title-container {
      text-align: center;
      opacity: 0;
      position: absolute;
      top: 0;
      color: white;
      display: flex;
      align-items: center;
      background-color: rgba($color: #000000, $alpha: 0.7);
      transition: opacity ease 200ms;
      .title-wrapper {
        height: fit-content;
        h4,
        h5 {
          padding: 10px 0;
        }
      }

      &:hover {
        transition: opacity ease 200ms;
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .lower-content {
    .item-container {
      .title-container {
        background-color: rgba($color: #000000, $alpha: 0.5);
        opacity: 1;
        align-items: flex-end;
        .title-wrapper {
          margin-bottom: 20px;
        }
      }
    }
  }
}
