.hero-mosaic {
  top: 80px;
  left: -50px;
  height: 100%;
  width: 120%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 2fr));
  grid-template-rows: repeat(3, 200px);
  grid-gap: 1rem;
  .hero-component-container {
    overflow: hidden;
    position: relative;
    object-fit: cover;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 2s ease;
    &:hover {
      transition: opacity 200ms ease;
    }
    img {
      height: 100%;
    }
  }
}

@media only screen and (max-width: 800px) {
  .hero-mosaic {
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-template-rows: repeat(auto-fit, 125px);
  }
}
@media only screen and (min-width: 1300px) {
  .hero-mosaic {
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  }
}
