.buttonWrapper {
  width: 100%;
  position: absolute;
  top: 400px;
  .buttonContainer {
    width: fit-content;
    margin: 0 auto;
  }
  .hero-button {
    background-color: transparent;
    position: relative;
    z-index: 1;
    height: 70px;
    width: 250px;
    border: 6px solid;
    font-size: 18px;
    &:hover {
      cursor: pointer;
    }
  }
  .heroButtonCanvas {
    position: relative;
    top: -70px;
    display: block;
    background-color: transparent;
  }
}

.home {
  .hero {
    height: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .hero-text {
      padding: 0 20px;
      position: relative;
      top: 250px;
      text-align: center;
      z-index: 1;
      pointer-events: none;
      h1 {
        letter-spacing: 5px;
        margin-bottom: 10px;
      }
    }
    .scroll-caret {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      display: none;
      svg {
        margin-bottom: 20px;
      }
    }
  }
  .content {
    padding: 60px 30px 20px 30px;
    position: relative;
    z-index: 1;
    text-align: center;
    hr {
      width: 50px;
      height: 10px;
      margin: 50px auto;
      border: none;
    }

    max-width: 1000px;
    margin: 0 auto;
    h1 {
      margin-bottom: 20px;
    }
    p {
      line-height: 30px;
      margin: 20px auto;
    }

    .about {
      margin: 50px auto;
    }
  }
}

@media only screen and (max-width: 550px) {
  .home {
    .hero {
      .hero-text {
        padding: 0 5px;
        top: 240px;
        h1 {
          font-size: 32px;
          letter-spacing: 1px;
        }
        h3 {
          font-size: 20px;
        }
      }
    }
  }
  .buttonWrapper {
    top: 360px;
  }
}

@media only screen and (max-width: 412px) {
  .home {
    .hero {
      .hero-text {
        h1 {
          font-size: 24px;
          padding-bottom: 5px;
        }
        h3 {
          font-size: 17px;
        }
      }
    }
  }
}
@media only screen and (max-height: 600px) {
  .home {
    .hero {
      .scroll-caret {
        display: inline-block;
      }
    }
  }
}
