@import "./menu-animation";
nav {
  filter: drop-shadow(10px 6px 12px rgba(0, 0, 0, 0.5));
  position: absolute;
  width: 100vw;
  z-index: 2;
}

.clouds-container {
  height: 120px;
  overflow: hidden;

  .clouds-bg {
    height: 173px;
    background-repeat: repeat-x;
    background-size: 1300px;
    transition: filter 500ms ease;
    animation: move 1s infinite ease;
    width: 102%;
  }
}

.nav-bg {
  background-color: #808080;
  height: 40px;
  transition: background-color 500ms ease;
}

.link-container {
  animation: move-nav 1s infinite ease;
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
  z-index: 1;

  .links {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    width: fit-content;
  }

  .toggle-theme-button {
    transition: color 500ms ease;
    position: absolute;
    top: 0;
    right: 0;
    // width: 40px;
    padding: 12px 20px;
    cursor: pointer;
  }

  button {
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
    padding: 20px 20px;
    border: none;
    background-color: transparent;
    &:hover {
      background-color: transparent;
      border: none;
    }
  }
}
.menu-toggle {
  position: absolute;
  right: 0px;
  padding: 0;
  visibility: hidden;
  animation: move-nav 1s infinite ease;
  border: none;
  &:hover {
    background-color: transparent;
  }
  z-index: 1;
}

@media only screen and (max-width: 800px) {
  .menu-toggle {
    visibility: visible;
  }
  nav {
    transform: translateY(-370px);
    transition: transform 500ms ease;
    .nav-bg {
      height: 410px;
    }
  }
  .link-container {
    max-width: 700px;
    position: static;
    text-align: center;
    .links {
      flex-direction: column;
      min-height: 310px;
      li {
        padding: 9px 0;
      }
    }
    .toggle-theme-button {
      position: relative;
      margin: 0 auto;
    }
  }

  .openMenu {
    transform: translateY(0px);
    transition: transform 500ms ease;
  }
}
@keyframes move {
  0% {
    transform: translate(-5px, -2px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-5px, -2px);
  }
}
@keyframes move-nav {
  0% {
    transform: translate(-7px, -2px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-7px, -2px);
  }
}
