.project-container {
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
  align-items: center;
  justify-content: space-around;
  .text {
    width: 500px;
    p {
      margin: 10px 0;
      line-height: 30px;
    }
    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      :first-child {
        margin-right: 20px;
      }
    }
    h5 {
      margin-top: 10px;
      font-size: 13px;
    }
  }
  .image {
    max-width: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .project-container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 350px;
    margin: 0 auto 30px auto;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    position: relative;
    .text {
      margin-top: 10px;
      text-align: center;
      width: auto;
      position: relative;
      p {
        margin: 10px 0;
        font-size: 16px;
        line-height: 30px;
      }
      .details {
        flex-direction: column;
        :first-child {
          margin-right: 0px;
        }
      }
    }
    .image {
      width: 340px;
      mask-size: 300px auto;
    }
  }
}
