.single-project {
  .main-description {
    h3,
    h4,
    h2 {
      margin: 35px 15px 0 0;
    }
    .gatsby-image-wrapper {
      // margin: 10px 0;
      overflow: visible;
    }
    .component-content {
      margin-bottom: 40px;
      .image-cards {
        display: flex;
        justify-content: space-evenly;
        margin: 30px 0;
        text-align: center;
        flex-wrap: wrap;
        .image-card {
          width: 300px;
          margin: 10px;
        }
      }
      .image-floated {
        float: right;
        margin: 0 0 0 15px;
        max-width: 300px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .single-project {
    .main-description {
      .component-content {
        .image-cards {
          align-items: center;
          flex-flow: column;
          margin: 30px 0;
          .image-card {
            width: 300px;
          }
        }
        .image-floated {
          float: unset;
          margin: 0;
          max-width: 100%;
        }
      }
    }
  }
}
