.tools-component {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  svg {
    &:hover ~ .popup {
      opacity: 1;
    }
  }
  .popup {
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: opacity 300ms ease;
    p {
      margin: 0;
      white-space: nowrap;
      line-height: 20px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .tools-component {
    .popup {
      top: 45px;
    }
  }
}
