$color_main-text-dark: #ccc;
$color_main-text-light: #333;
$color_header-text-dark: #fcfcfc;
$color_header-text-light: #111;
$color_caption-text-light: #555;
$color_caption-text-dark: #969696;
$color_text-hover-dark: #555;
$color_text-hover-light: #aaa;
$color_hero-bg-light: #e0e6ee;
$color_hero-bg-dark: #13181d;
$color_bg-light: #b9c6d3;
$color_bg-dark: #1a232b;
$color_code-bg-dark: #313d47;
$color_code-bg-light: #8699b1;

.dark-theme {
  color: $color_main-text-dark;
  a {
    color: $color_main-text-dark;
  }
  .menu-toggle {
    &:hover {
      background-color: transparent;
    }
  }

  button {
    color: $color_main-text-dark;

    &:hover {
      color: $color_main-text-light;
      border-color: $color_main-text-dark;
      background-color: $color_main-text-dark;
    }
  }
  li,
  a {
    &:hover {
      color: $color_text-hover-dark;
    }
    &:hover > .icon {
      color: $color_text-hover-dark;
    }
  }
  .icon {
    color: $color_main-text-dark;
  }
  .not-found::after {
    content: "Did you get lost in the rain?";
  }
  .hero {
    background-color: $color_hero-bg-dark;
    transition: background-color 500ms ease;
    .hero-component-container:hover {
      opacity: 0.5;
    }
  }
  .caption {
    color: $color_caption-text-dark;
  }
  pre code,
  code {
    background: $color_code-bg-dark;
  }
  strong {
    color: #69cde8;
  }
  footer {
    border-top: 2px solid $color_main-text-dark;
  }
  input,
  textarea {
    color: $color_main-text-dark;
    border-color: $color_main-text-dark;
  }
  textarea {
    transition: background-color 500ms ease;
    background-color: $color_hero-bg-dark;
  }
}

.light-theme {
  color: $color_main-text-light;
  a {
    color: $color_main-text-light;
  }

  button {
    color: $color_main-text-light;
    border-color: $color_main-text-light;
    &:hover {
      color: $color_main-text-dark;
      border-color: $color_main-text-light;
      background-color: $color_main-text-light;
    }
  }
  .menu-toggle {
    &:hover {
      background-color: transparent;
    }
  }

  li,
  a {
    &:hover {
      color: $color_text-hover-light;
    }
    &:hover > .icon {
      color: $color_text-hover-light;
    }
  }
  .icon {
    color: $color_main-text-light;
  }
  .not-found::after {
    content: "Did you get lost staring up at the clouds?";
  }
  .hero {
    background-color: $color_hero-bg-light;
    transition: background-color 500ms ease;
    .hero-component-container:hover {
      opacity: 1;
    }
  }
  .caption {
    color: $color_caption-text-light;
  }
  pre code,
  code {
    background: $color_code-bg-light;
  }
  strong {
    color: #007d9d;
  }
  footer {
    border-top: 2px solid $color_main-text-light;
  }
  input,
  textarea {
    color: $color_main-text-light;
    border-color: $color_main-text-light;
  }
  textarea {
    transition: background-color 500ms ease;
    background-color: $color_hero-bg-light;
  }
}

.light-theme-nav {
  color: $color_header-text-light;
  button {
    color: $color_header-text-light;

    &:hover {
      color: $color_text-hover-light;
    }
  }
  h1 {
    color: $color_header-text-light;
  }
  .toggle-theme-button {
    color: $color_header-text-light;
    &:hover > svg {
      color: $color_text-hover-light;
    }
  }
  .menu-toggle {
    span {
      background-color: $color_main-text-light;
    }
  }
}

.dark-theme-nav {
  color: $color_header-text-dark;
  button {
    color: $color_header-text-dark;
  }
  .menu-toggle {
    span {
      background-color: $color_header-text-dark;
    }
  }
  .toggle-theme-button {
    &:hover > svg {
      color: $color_main-text-light;
    }
  }
}

.light-theme-bg {
  background: $color_bg-light;
}

.dark-theme-bg {
  background: $color_bg-dark;
}
