@font-face {
  font-family: "Press-Start-2P";
  src: url("../fonts/PressStart2P.ttf") format("truetype");
}
@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@import "./variables";
@import "./nav";
@import "./home";
@import "./experiments";
@import "./projects";
@import "./about";
@import "./projectPage";
@import "./experimentPage";
@import "./toolsComponent";
@import "./heroComponent";

html {
  min-height: 100%;
}

.page-content {
  position: relative;
  z-index: 1;
}

canvas {
  pointer-events: none;
}

ul {
  padding: 0;
}

.app {
  position: relative;
  transition: background-color 500ms ease;
  z-index: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
  overflow-x: hidden;
  min-height: 100%;
  min-width: 100vw;
}

* {
  margin: 0;
  padding: 0;
}

button {
  padding: 10px 20px;
  border: 4px solid;
  background-color: transparent;
  &:hover {
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
a,
label,
button {
  font-family: "Press-Start-2P";
}

input,
textarea {
  font-family: "Lato Regular";
  font-size: 18px;
}

p,
::after {
  font-family: "Lato Regular";
  max-width: 1000px;
  line-height: 40px;
  margin: 20px 0;
  font-size: 17px;
  letter-spacing: 0.3px;
}

a {
  text-decoration: none;
}

.post-template {
  .upper-content {
    .header-content {
      max-width: 1000px;
      h1 {
        margin-bottom: 10px;
      }
      h5 {
        margin-bottom: 10px;
      }
      .details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        :first-child {
          margin-right: 20px;
        }
      }
    }
    margin-bottom: 0;
  }

  .lower-content {
    .main-description {
      p,
      li {
        font-size: 17px;
      }
      ul {
        padding-left: 20px;
      }
      li {
        line-height: 30px;
        font-family: "Lato Regular";
        &:hover {
          color: unset;
        }
        margin: 10px 0;
      }
      .full-image-container {
        max-width: fit-content;
        margin: 0 auto;
      }

      .caption {
        margin: 10px;
        text-align: center;
        line-height: unset;
      }
      code {
        font-size: 16px;
        word-wrap: break-word;
        padding: 0.2rem 0.5rem 0.2rem;
        border-radius: 0.4rem;
      }
      pre code {
        font-size: 16px;
        display: block;
        white-space: pre;
        max-width: 100%;
        min-width: 100px;
        overflow-y: auto;
      }
    }
    .written-content {
      line-height: 25px;
    }
    .quickfacts {
      float: right;
      margin: 0px 20px 20px 20px;
      min-width: 275px;
      a,
      button {
        width: 100%;
        // margin-bottom: 15px;
      }
      .designed,
      .built {
        margin-bottom: 30px;
      }
      .logo-wrapper {
        margin: 20px auto 0 auto;
        height: 62px;
        img {
          padding: 5px;
          width: 50px;
          height: auto;
        }
      }
    }
  }
}

.upper-content {
  padding-top: 190px;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 1000px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h1 {
    margin-bottom: 30px;
  }
}

.lower-content {
  max-width: 1000px;
  margin: 0 auto;
}

footer {
  padding-top: 20px;
  width: 100%;
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  ul {
    text-align: center;
    li {
      font-size: 12px;
      display: inline;
      margin: 0 20px;
    }
  }
  .seperator {
    width: 7px;
    height: 7px;
    display: inline-block;
  }
  p {
    text-align: center;
    margin: 20px auto;
    font-size: 11pt;
    line-height: 20px;
  }
}

@media only screen and (max-width: 1100px) {
  .page-content {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 20px;
  }
  .upper-content {
    margin-bottom: 0;
  }
  footer {
    padding-top: 20px;
    ul {
      li {
        display: block;
        padding: 16px 0;
      }
    }
  }
  .post-template {
    .upper-content {
      .header-content {
        .details {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
    .lower-content {
      .written-content {
        line-height: 25px;
      }
      .cover-image {
        margin-bottom: 20px;
      }
      .quickfacts {
        display: flex;
        flex-wrap: wrap;
        float: none;
        margin: 0;
        line-height: 25px;
        // gap: 20px;
        justify-content: space-between;
        svg {
          width: 40px;
        }
        .designed,
        .built {
          margin-bottom: 0px;
          margin-right: 10px;
          // width: 45%;
        }
        .logo-wrapper {
          margin: 5px auto 0 auto;
          height: 62px;
        }
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .page-content {
    padding: 0 15px;
  }
  .post-template {
    .lower-content {
      .quickfacts {
        display: block;
        .designed,
        .built {
          margin-bottom: 0px;
          width: 100%;
        }
      }
    }
  }
}
